/***************************************
 ********** Default Styling  ***********
 ***************************************/

.account-grid-column {
    text-size-adjust: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    width: 33.3333%;
    float: left;
}

.card .card-body {
  padding: 10px;
  overflow-wrap: break-word;
}

.card-balance .govuk-heading-m {
  margin-bottom: 10px;
}

.card-balance .govuk-heading-l {
  margin-top: 0;
  margin-bottom: 10px;
}

.govuk-summary-list__value {
 overflow-wrap: inherit;
 word-wrap: inherit;
}

/***************************************
 ***********  Mobile Styling  **********
 ***************************************/
@media only screen and (max-width: 640px) {
  .card .card-body .govuk-heading-m {
    color: #1d70b8;
  }

  .card {
    background: #f8f8f8;
    margin-bottom: 20px;
  }

  .govuk-main-wrapper {
    margin-left: 20px;
    width: 91%;
  }

  .account-grid-column {
    width: 100%;
  }

  p.govuk-body {
    margin-bottom: 20px;
  }

  .grid-row {
    margin-top: 10px;
    text-size-adjust: 100%;
    box-sizing: border-box;
    background: #f8f8f8;
    margin-bottom: 20px;
    padding: 20px 10px 0;

    .govuk-heading-m {
        color: #1d70b8;
        padding-bottom: 10px;
    }

    .govuk-link {
        font-weight: normal;
    }
  }

}


/***************************************
 ********** Desktop Styling  ***********
 ***************************************/
@media only screen and (min-width: 641px) {
  .card {
    background: #f8f8f8;
    margin-bottom: 20px;
    min-height: 260px;
  }

  .card .govuk-link {
    font-size: 19px;
  }
}

.row-header--no-border .govuk-table__header {
  border: none !important;
}
.cell--no-border .govuk-table__cell {
  border: none !important;
}
th.govuk-table__header.row-border {
  border-bottom: 1px solid #b1b4b6 !important;
}

td.govuk-table__cell.row-border {
  border-bottom: 1px solid #b1b4b6 !important;
}

.float-to-right {
  float: right;
}

.clear-float {
  clear: both;
}

ul.actions-min-size a,
ul.actions-min-size strong,
ul.actions-min-size span {
	display: block;
	line-height:24px;
	min-height:24px;
	min-width: 24px;
}