/***************************************
 ********** Default Styling  ***********
 ***************************************/

.account-grid-column {
    text-size-adjust: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    width: 33.3333%;
    float: left;
}

.card .card-body {
  padding: 10px;
}

.card-balance .govuk-heading-m {
  margin-bottom: 10px;
}

.card-balance .govuk-heading-l {
  margin-top: 0;
  margin-bottom: 10px;
}

.govuk-summary-list__value {
 overflow-wrap: inherit;
 word-wrap: inherit;
}

/***************************************
 ***********  Mobile Styling  **********
 ***************************************/
@media only screen and (max-width: 640px) {
  .card .card-body .govuk-heading-m {
    color: #1d70b8;
  }

  .card {
    background: #f8f8f8;
    margin-bottom: 20px;
  }
}


/***************************************
 ********** Desktop Styling  ***********
 ***************************************/
@media only screen and (min-width: 641px) {
  .card {
    background: #f8f8f8;
    margin-bottom: 20px;
    min-height: 260px;
  }

  .card .govuk-link {
    font-size: 19px;
  }
}

.row-header--no-border .govuk-table__header {
  border: none !important;
}
.cell--no-border .govuk-table__cell {
  border: none !important;
}
th.govuk-table__header.row-border {
  border-bottom: 1px solid #b1b4b6 !important;
}

td.govuk-table__cell.row-border {
  border-bottom: 1px solid #b1b4b6 !important;
}

.float-to-right {
  float: right;
}

.clear-float {
  clear: both;
}

.hmrc-user-research-banner {
  display: none;
  position: relative;
  color: govuk-colour("white");
  background-color: $govuk-brand-colour;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  @include govuk-font($size: 19);

  &__container {
    position: relative;
    left: 0px;
  }

  &__title {
    color: govuk-colour("white") !important;
    @include govuk-responsive-margin(1, "bottom");
  }

  &__link {
    color: govuk-colour("white") !important;
  }

  &--show {
    display: block;
  }

  &__close {
    color: govuk-colour("white") !important;
    @include govuk-responsive-margin(2, "top");

    outline: 0;
    border: 0;
    background: none;
    text-decoration: underline;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
    float: right;
    position: absolute;
    top: -10px;
    right: 0px;

    &--variation-1 {
      @include govuk-media-query ($from: desktop) {
        position: absolute;
        margin-top: 0;
        top: 0;
        right: 0;
      }
    }
  }
}