@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("amendImportedPlasticPackaging.title"))) {

    @formHelper(action = routes.AmendImportedPlasticPackagingController.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(messages("amendImportedPlasticPackaging.heading")).asPageHeading()
            )
            .asNumeric()
            .withWidth(Fixed10)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
